{% extends 'base.html' %}
{% load static %}
{#{% load blueimp_gallery %}#}
{% load i18n %}

{% block body_class %}home{% endblock %}
{% block content %}
    <div class="position-fixed light" title="ОСФ СЕРВИС" data-toggle="popover"
         data-content="(067)563 44 95 | (095)291 92 13 г.Днепр, Воздухофлотская, 2а/43">
        <img src="{% static 'open-iconic/svg/lightbulb.svg' %}">
    </div>
    <div class="icon-scroll"></div>
    <div class="right-block">
        067 563 44 95
    </div>
    {% include 'home/parts/section-ktp.html' %}
    {% include 'home/parts/section-gallery.html' %}
    {% include 'home/parts/section-solar.html' %}
    {% include 'home/parts/section-slider.html' %}
    {% include 'home/parts/section-stab.html' %}

    {#    {% include 'home/parts/section-stab.html'  %}#}
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
{% endblock content %}
{% block extra_script %}
    <script>
        $(function () {
            activatePopover('.light', 'right');
            animateBlocks();
            activateSlick('.slick')
        })
    </script>
{% endblock extra_script %}

