{% extends 'base.html' %}
{% load static %}

{% block body_class %}solar{% endblock %}
{% block content %}
    {{ block.super }}
    {% include 'home/parts/section-solar.html' %}
    {% include 'home/parts/section-slider.html' %}
    {% include 'home/parts/section-gallery.html' with title='Наши работы:' gallery_name='boxes' %}
{% endblock content %}
{% block extra_script %}
    <script>
        $(function () {
            activateSlick('.slick')
        })
    </script>
{% endblock extra_script %}

