Django==3.2.4
django-rosetta==0.9.6
python-decouple==3.4
# psycopg2-binary==2.9.1
whitenoise==5.2.0
pillow==8.2.0
celery==5.1.1
django-celery-results==2.1.0
django-celery-beat==2.2.0
python-memcached
django-debug-toolbar==3.2.1
django-import-export==2.5.0
# django-jet  until dont support django3
https://github.com/xelaxela13/django-jet/archive/dev.zip
xhtml2pdf==0.2.5
redis==3.5.3
flake8==3.9.2
sorl-thumbnail==12.7.0
django-sortedm2m==3.0.2
daphne==3.0.2
Twisted[http2,tls]
django-tinymce==3.3.0
