Django>=2.0
django-bootstrap4
requests
django-rosetta
python-decouple
psycopg2
gunicorn
django-heroku
whitenoise
pillow
celery
celery[redis]
django-celery-results
django-celery-beat
python-memcached
django-debug-toolbar
django-import-export
django-jet
xhtml2pdf