Django
requests
django-rosetta
python-decouple
psycopg2-binary
psycopg2
gunicorn
django-heroku
dj_database_url
whitenoise
pillow
celery
celery[redis]
django-celery-results
django-celery-beat
python-memcached
django-debug-toolbar
django-import-export
# django-jet  until dont support django3
https://github.com/xelaxela13/django-jet/archive/dev.zip
xhtml2pdf
django-pipeline
redis
flake8
jsmin
pytest
pytest-django
factory_boy
mock
ipdb
sorl-thumbnail
django-sortedm2m