{% load static %}
{% load thumbnail %}
<section id="gallery">
    <div class="container border-top border-bottom my-3 my-lg-5 py-lg-5">
        <div class="row">
            <div class="col-12">
                <div class="h3 mb-3">Наши преимущества:</div>
                <div id="links" class="grid">
                    {% for image in boxes %}
                        <a href="media/{{ image }}" data-gallery>
                            {% thumbnail image "100x100" as im %}
                                <span class="grid-item" style="background: url('media/{{ im }}') no-repeat;"></span>
                            {% endthumbnail %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
