{% load static %}

<section class="position-relative" id="stab">
    <div class="cycles position-absolute">
        <div class="position-relative">
            <span class="big pulse-down-9"></span>
            <span class="small position-absolute pulse-up-1"></span>
        </div>
    </div>
    <div class="cycle cycle-small position-absolute"></div>
    <div class="cycle cycle-smaller position-absolute pulse-up-1"></div>
    <div class="container p-3 p-lg-5">
        <div class="row">
            <div class="col-12">
                <div class="h2">Стабилизаторы напряжения, системы бесперебойного питания.</div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="digit text-blue-deep p-3">
                    03
                </div>
                <div class="text-center">
                    <a href="#" class="link">Подробнее</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 border-left">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem
                Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных
                изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое
                время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в
                более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах
                которых используется Lorem Ipsum.
            </div>
            <div class="col-12 col-lg-5 border-left">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem
                Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных
                изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое
                время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в
                более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах
                которых используется Lorem Ipsum.
            </div>
        </div>
    </div>
    <div class="stab-bg"></div>
</section>