{% load static %}

<section id="solar" class="mx-3 bg-section-solar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex block-02 magictime" style="opacity: 0">
                    <figure>
                        <img src="{% static 'images/home/tree.png' %}">
                    </figure>
                    <div class="d-flex flex-column">
                        <div class="digit text-beige">
                            02
                        </div>
                        <p class="h2 mb-3">Солнечная энергетика уже реальность, а не фантастика</p>
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                            безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem
                            Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных
                            изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое
                            время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в
                            более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах
                            которых используется Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <div class="bg-section-solar"></div>#}
</section>