{% load static %}

<section id="solar" class="bg-solar py-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <div class="text-center">

                    <div class="h2 mb-3 blockquote-title">
                        Солнечная энергетика уже реальность, а не фантастика. Инвестиции в солнечную энергетику в 3.6
                        раза
                        выгоднее чем в недвижимость.
                    </div>
                    <div class="digit text-blue-deep">02</div>
                </div>
            </div>
            <div class="col-12">
                <div class="solar-animate-1 d-flex justify-content-around magictime" style="opacity: 0">
                    <div class="card shadow mx-3">
                        <img src="{% static 'images/home/projects/Zaychevskoe.jpg' %}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Инвестиции в солнечную энергетику</h5>
                            Оценки перспектив инвестиций в солнечную энергетику: просчет оптимального размера
                            вложений и их рентабельность;
                        </div>
                    </div>
                    <div class="card shadow mx-3">
                        <img src="{% static 'images/home/projects/Zaychevskoe.jpg' %}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Инвестиции в солнечную энергетику</h5>
                            Проектирование и инжиниринг на основе доступной материально-финансовой базы с учетом задач и
                            ожиданий клиентов;
                        </div>
                    </div>
                    <div class="card shadow mx-3">
                        <img src="{% static 'images/home/projects/Zaychevskoe.jpg' %}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Инвестиции в солнечную энергетику</h5>
                            Строительных работ — наш департамент по строительству готов воплотить в жизнь любой
                            инженерный проект солнечной электростанции;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>