{% load static %}
{% load thumbnail %}
<section id="gallery" class="my-3 my-lg-5 py-lg-5">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <div class="h3 mb-3">Наши преимущества:</div>
                <div class="slick">
                    {% for image in images %}
                        {% thumbnail image "200x200" as im %}
                            <div class="slick-item" style="background: url('media/{{ im }}') no-repeat;"></div>
                        {% endthumbnail %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
