{% load static %}
<section id="docs" class="bg-black">
    <div class="container p-3 p-lg-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="h2 text-white">Проектная документация под ключ</div>
                <div class="d-flex">
                    <div class="digit text-white-dark mr-3">
                        03
                    </div>
                </div>
                <ul class="docs-animate-1 color-list magictime delay-1s" style="opacity: 0">
                    <li class="h5 text-blue">Ipsum для распечатки образцов</li>
                    <li class="h5 text-white">Ipsum для распечатки образцов</li>
                    <li class="h5 text-green">Ipsum для распечатки образцов</li>
                    <li class="h5 text-yellow">Ipsum для распечатки образцов</li>
                </ul>
                <div class="docs-animate-2 text-white-dark magictime delay-2s">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                    является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                    безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem
                    Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных
                    изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое
                    время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в
                    более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах
                    которых используется Lorem Ipsum.
                </div>
                <div class="d-flex mt-3">
                    <a href="#" class="btn btn-yellow mr-3">Подробнее</a>
                    <a href="#" class="btn btn-green">Подробнее</a>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="docs-animate-3 bg-docs">
                    <figure class="text-center w-50 magictime delay-1s" style="opacity: 0"><img class="w-50" src="{% static 'images/home/lamps/lamp1.png' %}"></figure>
                </div>
            </div>
{#            <div class="col-12 py-3">#}
{#                <div class="justify-content-around w-100 lamps">#}
{#                    <figure><img src="{% static 'images/home/lamps/lamp1.png' %}"></figure>#}
{#                    <figure><img src="{% static 'images/home/lamps/lamp2.png' %}"></figure>#}
{#                    <figure><img src="{% static 'images/home/lamps/lamp3.png' %}"></figure>#}
{#                    <figure><img src="{% static 'images/home/lamps/lamp4.png' %}"></figure>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
</section>