{% load static %}
<section id="stab" class="bg-black">
    <div class="container py-3 py-lg-5">
        <div class="row">
            <div class="col-12 col-lg-6 bg-docs">
                <div class="h2 text-white">Стабилизаторы напряжений, системы безперебойного питания, резервное
                    электроснабжение
                </div>
                <div class="d-flex">
                    <div class="digit text-white-dark mr-3">
                        03
                    </div>
                </div>
                <div class="docs-animate-3 justify-content-around w-100 lamps">
                    <figure><img class="magictime delay-1s" style="opacity: 0"
                                 src="{% static 'images/home/lamps/lamp1.png' %}">
                    </figure>
                    <figure><img class="magictime delay-1s" style="opacity: 0"
                                 src="{% static 'images/home/lamps/lamp2.png' %}">
                    </figure>
                    <figure><img class="magictime delay-1s" style="opacity: 0"
                                 src="{% static 'images/home/lamps/lamp3.png' %}">
                    </figure>
                    <figure><img class="magictime delay-1s" style="opacity: 0"
                                 src="{% static 'images/home/lamps/lamp4.png' %}">
                    </figure>
                </div>
                <div class="docs-animate-2 text-white-dark magictime text-justify" style="opacity: 0">
                </div>
                <div class="d-flex mt-3">
                    <a href="#" class="btn btn-yellow mr-3">Подробнее</a>
                    <a href="#" class="btn btn-green">Подробнее</a>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="h5 mb-3 text-white">"Миллион" причин выбрать стабилизатор напряжения &trade; АЛЬЯНС</div>
                <ul class="docs-animate-1 color-list magictime" style="opacity: 0">
                    <li class="text-blue">Энергосберегающая технология при стабилизации напряжения</li>
                    <li class="text-white">Двухпроцессорное управление, обеспечивающее добротность и стабильность
                    </li>
                    <li class="text-green">Мощные силовые электронные ключи с запасом до 200% и медный
                        трансформатор
                    </li>
                    <li class="text-yellow">Точная стабилизация, благодаря измерению истинного значения напряжения и
                        тока (true RMS)
                    </li>
                    <li class="text-white">
                        Двухуровневая мгновенная защита от перенапряжения по напряжению сети и нагрузки
                    </li>
                    <li class="text-white">
                        Эффективная защита от короткого замыкания в нагрузке — электромагнитный расцепитель
                    </li>
                    <li class="text-white">
                        Защита от длительного перегруза по току с помощью надежного теплового расцепителя
                    </li>
                    <li class="text-white">
                        Измерение точного значения температуры всех силовых элементов
                    </li>
                    <li class="text-white">
                        АПВ — автоматическое восстановление после любой аварии (без участия человека)
                    </li>
                    <li class="text-white">
                        Память всех аварийных ситуаций и отработанного времени
                    </li>
                    <li class="text-white">
                        Расширенная индикация параметров нагрузки, аварийных ситуаций и предупреждений на русском языке
                        без шифров
                    </li>
                    <li class="text-white">
                        Фиксация максимальных отклонений входного напряжения и тока нагрузки
                    </li>
                    <li class="text-white">
                        Значительный запас по допустимой мощности нагрузки
                    </li>
                    <li class="text-white">
                        Электронный транзит!
                    </li>
                    <li class="text-white">
                        Обязательные полные стендовые испытания всей выпускаемой продукции
                    </li>
                    <li class="text-white">
                        Применение высокотехнологичных электронных элементов и комплектующих, проводников и изоляционных
                        материалов
                    </li>
                    <li class="text-white">
                        Полноценное гарантийное обслуживание
                    </li>
                </ul>
            </div>
            {#            <div class="col-12 py-3">#}
            {#                <div class="justify-content-around w-100 lamps">#}
            {#                    <figure><img src="{% static 'images/home/lamps/lamp1.png' %}"></figure>#}
            {#                    <figure><img src="{% static 'images/home/lamps/lamp2.png' %}"></figure>#}
            {#                    <figure><img src="{% static 'images/home/lamps/lamp3.png' %}"></figure>#}
            {#                    <figure><img src="{% static 'images/home/lamps/lamp4.png' %}"></figure>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>
</section>