{% load static %}

<section class="first-section py-lg-5 m-3 rounded" id="ktp">
{#    <div class="icon-scroll"></div>#}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="magictime slideUpReturn delay-1s">
                    <div class="digit text-blue-deep mx-auto">01</div>
                    <div class="flex-column py-3 py-lg-5">
                        <div class="h1">
                            ОСФ Сервис
                        </div>
                        <div class="h2 mt-3 mt-lg-5">
                            Производим распределительные шкафы управления для промышленных солнечных электростанций
                        </div>
                        <div class="flex-column mt-3">
                            <p class="h6">
                                Изготовим и смонтируем КТП до 10кВА на вашем объекте в любой части страны
                            </p>
                            <p>
                                <a href="#" class="btn btn-yellow">Подробнее</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="flex-column py-3 py-lg-5 magictime slideUpReturn delay-2s">
                    <div class="card shadow">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="h3 text-beige list-group-item">2019</li>
                                <li class="list-group-item">Введенно в эксплуатацию 2690 шкафов управления</li>
                                <li class="list-group-item">Выпущенно 14 КТП до 10КВ</li>
                                <li class="list-group-item">Построенно 4 крышные электростанции на 30кВт</li>
                                <li class="h3 text-beige list-group-item">2018</li>
                                <li class="list-group-item">Введено в эксплуатацию 1870 шкафов управления</li>
                                <li class="list-group-item">Выпущенно 18 КТП до 10КВ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
