{% load static %}
<section id="sectionStab">
    <div class="container my-3 my-lg-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="digit mb-3">03</div>
                <div class="h3 mb-3">Стабилизаторы напряжений, системы
                    безперебойного питания, резервное
                    электроснабжение
                </div>
            </div>
            <div class="col-12 col-lg-6 border-bottom">
                <img class="w-100" src="{% static 'images/home/section-stab/alliance.png' %}">
                <img class="w-100 rounded-top" src="{% static 'images/home/section-stab/smart-bg.jpg' %}">
            </div>
            <div class="col-6 col-lg-3 my-3">
                <div class="text-center my-3">
                    <img class="w-25 mx-5" src="{% static 'open-iconic/svg/timer.svg' %}">
                </div>
                <div class="h6 text-center">
                    Быстродействие
                </div>
            </div>
            <div class="col-6 col-lg-3 my-3">
                <div class="text-center my-3">
                    <img class="w-25 mx-5" src="{% static 'open-iconic/svg/shield.svg' %}">
                </div>
                <div class="h6 text-center">
                    Защита
                </div>
            </div>
            <div class="col-6 col-lg-3 my-3">
                <div class="text-center my-3">
                    <img class="w-25 mx-5" src="{% static 'open-iconic/svg/eye.svg' %}">
                </div>
                <div class="h6 text-center">
                    Интеллект
                </div>
            </div>
            <div class="col-6 col-lg-3 my-3">
                <div class="text-center my-3">
                    <img class="w-25 mx-5" src="{% static 'open-iconic/svg/fork.svg' %}">
                </div>
                <div class="h6 text-center">
                     Технологичность
                </div>
            </div>
            <div class="col-6 col-lg-3 my-3">
                <div class="text-center my-3">
                    <img class="w-25 mx-5" src="{% static 'open-iconic/svg/graph.svg' %}">
                </div>
                <div class="h6 text-center">
                     Эффективность
                </div>
            </div>
            <div class="col-6 col-lg-3 my-3">
                <div class="text-center my-3">
                    <img class="w-25 mx-5" src="{% static 'open-iconic/svg/bug.svg' %}">
                </div>
                <div class="h6 text-center">
                     Самодиагностика
                </div>
            </div>
            <div class="col-6 col-lg-3 my-3">
                <div class="text-center my-3">
                    <img class="w-25 mx-5" src="{% static 'open-iconic/svg/bolt.svg' %}">
                </div>
                <div class="h6 text-center">
                     Класс A++
                </div>
            </div>
            <div class="col-6 col-lg-3 my-3">
                <div class="text-center my-3">
                    <img class="w-25 mx-5" src="{% static 'open-iconic/svg/home.svg' %}">
                </div>
                <div class="h6 text-center">
                     Универсальность
                </div>
            </div>
            <div class="col-12">
                <p class="text-gray-light my-3 my-lg-5">"Миллион" причин выбрать стабилизатор напряжения &trade; АЛЬЯНС</p>
            </div>
            <div class="col-12 col-lg-6 text-justify">
                <div class="card mb-3">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Энергосберегающая технология при стабилизации напряжения</li>
                            <li class="list-group-item">Двухпроцессорное управление, обеспечивающее добротность и
                                стабильность
                            </li>
                            <li class="list-group-item">Мощные силовые электронные ключи с запасом до 200% и медный
                                трансформатор
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Точная стабилизация, благодаря измерению истинного значения
                                напряжения и
                                тока (true RMS)
                            </li>
                            <li class="list-group-item">
                                Двухуровневая мгновенная защита от перенапряжения по напряжению сети и нагрузки
                            </li>
                            <li class="list-group-item">
                                Эффективная защита от короткого замыкания в нагрузке — электромагнитный расцепитель
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Защита от длительного перегруза по току с помощью надежного теплового расцепителя
                            </li>
                            <li class="list-group-item">
                                Измерение точного значения температуры всех силовых элементов
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="flex-column">
                    <div class="card mb-3">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    АПВ — автоматическое восстановление после любой аварии (без участия человека)
                                </li>
                                <li class="list-group-item">
                                    Память всех аварийных ситуаций и отработанного времени
                                </li>
                                <li class="list-group-item">
                                    Расширенная индикация параметров нагрузки, аварийных ситуаций и предупреждений на
                                    русском языке
                                    без шифров
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Фиксация максимальных отклонений входного напряжения и тока нагрузки
                                </li>
                                <li class="list-group-item">
                                    Значительный запас по допустимой мощности нагрузки
                                </li>
                                <li class="list-group-item">
                                    Электронный транзит!
                                </li>
                                <li class="list-group-item">
                                    Обязательные полные стендовые испытания всей выпускаемой продукции
                                </li>
                                <li class="list-group-item">
                                    Применение высокотехнологичных электронных элементов и комплектующих, проводников и
                                    изоляционных
                                    материалов
                                </li>
                                <li class="list-group-item">
                                    Полноценное гарантийное обслуживание
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="bg-black d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2 py-5">
                    <div class="d-flex justify-content-around w-100 lamps ">
                        <img src="{% static 'images/home/lamps/lamp1.png' %}">
                        <img src="{% static 'images/home/lamps/lamp2.png' %}">
                        <img src="{% static 'images/home/lamps/lamp3.png' %}">
                        <img src="{% static 'images/home/lamps/lamp4.png' %}">
                    </div>
                    <div class="h5 text-center text-white mt-3 warranty" data-toggle="popover"
                         data-content="Гарантия зависит от модели стабилизатора напряжения. Гарантия действует на всей територии Украины.">
                        * Гарантия от 5 до 10 лет!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-3 my-lg-5" id="containerStab">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="list-group mt-3 mt-lg-5" role="tablist">
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" href="#listItem1">Uno</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" href="#listItem2">Smart</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" href="#listItem3">Tesla</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" href="#listItem4">Prime</a>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="tab-content scroll-y mt-3 mt-lg-5">
                    <div id="listItem1" role="tabpanel" class="tab-pane active">
                        <h5 class="mb-3">Альянс Uno</h5>
                        <h6 class="text-green mb-3">Гарантия 5 лет</h6>
                        <h6 class="mb-3">
                            Серия однофазных стабилизаторов напряжения ALLIANCE UNO (медный трансформатор, корпус
                            пластик + дибонд)
                        </h6>
                        <p>Alliance UNO - это девятиступенчатый электронный симисторный стабилизатор напряжения
                            созданный на основе медного трансформатора с диапазоном стабилизации 140-253 В и точностью
                            поддержания выходного напряжения ± 5%, чего вполне достаточно для работы в большинстве сетей
                            и практически с любой бытовой техникой и аппаратурой.
                        </p>
                        <p>
                            Для обеспечения максимально долгого срока службы стабилизаторы UNO оснащены датчиками тока
                            для точного контроля и измерения нагрузки в настоящем времени. Так же аппараты имеют два
                            независимых датчика температуры, передающих данные на продвинутую систему управления - опять
                            же для безопасности и долговечности, плюс бесшумная работа активной системы охлаждения.
                        </p>
                        <p>
                            UNO - базовая версия в модельном ряду производителя. И самая доступная из электронных
                            стабилизаторов на рынке вообще. Но, несмотря на это, в ней воплощены следующие преимущества
                            и наработки, которыми не могут похвастаться даже более дорогие конкуренты.
                        </p>
                        <ul>
                            <li>
                                Медный торообразный автотрансформатор.
                            </li>
                            <li>Современная силовая база симисторные электронные ключи.</li>
                            <li>Время реакции стабилизатора на изменение входного напряжения не более 20 мс.</li>
                            <li>Мгновенная защита от перенапряжения.</li>
                            <li>Быстродействующие защиты от аварийных ситуаций в сети.</li>
                            <li>
                                Защита от длительного перегруза по току (программная МТЗ) и короткого замыкания (ТО).
                            </li>
                            <li>АПВ - автоматическое восстановление после любой аварии (без участия человека).</li>
                            <li>Интеллектуальная система охлаждения, обеспечивающая минимальный уровень шума.</li>
                            <li>Регистратор - энергонезависимая память всех аварийных ситуаций и отработанного
                                времени.
                            </li>
                            <li>Расширенная индикация на ЖК-экране точных параметров нагрузки и сети, аварийных ситуаций
                                и предупреждений без шифров.
                            </li>
                            <li>Регистрация максимальных и минимальных действующих и мгновенных значений тока и
                                напряжения в питающей сети, температуры силовых элементов.
                            </li>
                            <li>Электронный режим байпаса «Транзит».</li>
                            <li>Контроль параметров сети и состояния силовых элементов перед включением.</li>
                            <li>Мощность (кВА): 6-22</li>
                            <li>Рабочий диапазон (вольт): 120-266</li>
                            <li>Диапазон стабилизации (вольт): 140-253</li>
                            <li>Выходное напряжение (вольт): 220 ± 5%</li>
                            <li>Количество ступеней: 9</li>
                            <li>Габаритные размеры (мм): 250х410х192</li>
                            <li>Страна-производитель: Украина</li>
                            <li>Срок гарантии, месяцев: 60</li>
                        </ul>
                        <p>
                            Стабилизатор напряжения симисторного типа по самой доступной цене. Медный трансформатор и
                            функционал, как у более дорогих моделей. Стабилизатор идеально подойдёт для бытового
                            применения в квартире, небольшом доме, на даче.
                        </p>
                    </div>
                    <div id="listItem2" role="tabpanel" class="tab-pane">
                        <h5 class="mb-3">Альянс Smart</h5>
                        <h6 class="text-green mb-3">Гарантия 10 лет</h6>
                        <p>Благодаря использованию современных технологий, стабилизатор Alliance Smart обеспечит
                            стабильное напряжение, надёжно защитит Вашу технику от любых непредвиденных ситуаций в
                            электросети. Изделие тщательно проработано, оснащено современной комплектацией и улучшенным
                            программным обеспечением. Наработка аппарата на отказ составляет 80 тыс. часов, а это более
                            9-ти лет непрерывной работы. Стабилизатор напряжения Alliance Smart - это реальная экономия
                            Ваших средств, времени, Ваше спокойствие и уверенность.
                        </p>
                        <ul>
                            <li>
                                Мощная силовая база - промышленные симисторы (силовые ключи).
                            </li>
                            <li>Медный автотрансформатор.</li>
                            <li>Алюминиевый массивный охладитель с принудительной вентиляцией.</li>
                            <li>Точная стабилизация благодаря измерению истинного значения напряжения и тока (true
                                RMS).
                            </li>
                            <li>Время реакции стабилизатора на изменение входного напряжения не превышает 20 мс.</li>
                            <li>
                                Программно-аппаратная мгновенная защита от перенапряжения.
                            </li>
                            <li>Быстродействующая защита от короткого замыкания в нагрузке (с модулем DT-200).</li>
                            <li>АПВ - автоматическое восстановление после любой аварии.</li>
                            <li>Энергонезависимая память всех аварийных ситуаций и отработанного времени (регистратор).
                            </li>
                            <li>ЖК-экран с индикацией и фиксацией точных параметров нагрузки и сети, аварийных ситуаций
                                и предупреждений без шифров.
                            </li>
                            <li>Режим «Транзит» в электронном исполнении.
                            </li>
                            <li>Мощность (кВА): 6-22</li>
                            <li>Рабочий диапазон (вольт): 120-282</li>
                            <li>Диапазон стабилизации (вольт): 145-265</li>
                            <li>Выходное напряжение (вольт): 220 ± 4%</li>
                            <li>Количество ступеней: 12</li>
                            <li>Габаритные размеры (мм): 240х400х148</li>
                            <li>Страна-производитель: Украина</li>
                            <li>Срок гарантии, месяцев: 120</li>
                        </ul>
                        <p>
                            Медный трансформатор, надежные силовые ключи, мгновенная стабилизация напряжения, защита
                            электроприборов от аварийных ситуаций в сети. Современная модель стабилизатора с достаточным
                            диапазоном стабилизации и точностью напряжения на выходе.
                        </p>
                    </div>
                    <div id="listItem3" role="tabpanel" class="tab-pane">
                        <h5 class="mb-3">Альянс Tesla</h5>
                        <h6 class="text-green mb-3">Гарантия 10 лет</h6>
                        <p>Стабилизатор напряжения Alliance Tesla оснащен силовой частью с усиленной элементной базой,
                            современной комплектацией и улучшенным программным обеспечением, . Наработка на отказ
                            стабилизатора Tesla составляет 90 тыс. часов, а это более 10 лет непрерывной работы.
                            Благодаря использованию современных технологий, стабилизатор надёжно защитит Вашу технику от
                            любых непредвиденных ситуаций в электросети. Стабилизатор напряжения Alliance Tesla - это
                            реальная экономия Ваших средств, времени, Ваше спокойствие и уверенность.
                        </p>
                        <ul>
                            <li>
                                Мощная силовая база - промышленные симисторы (силовые ключи).
                            </li>
                            <li>Медный автотрансформатор с запасом по мощности до 20%.</li>
                            <li>Алюминиевый массивный охладитель с принудительной вентиляцией.</li>
                            <li>Двухпроцессорная система управления стабилизатором.
                            </li>
                            <li>Точная стабилизация благодаря измерению истинного значения напряжения и тока (true
                                RMS).
                            </li>
                            <li>
                                Программно-аппаратная мгновенная защита от перенапряжения.
                            </li>
                            <li>Быстродействующая защита от короткого замыкания в нагрузке.</li>
                            <li>АПВ - автоматическое восстановление после любой аварии.</li>
                            <li>Энергонезависимая память всех аварийных ситуаций и отработанного времени (регистратор).
                            </li>
                            <li>ЖК-экран с индикацией и фиксацией точных параметров нагрузки и сети, аварийных ситуаций
                                и предупреждений без шифров.
                            </li>
                            <li>Режим «Транзит» в электронном исполнении.
                            </li>
                            <li>Время реакции стабилизатора на изменение входного напряжения не превышает 20 мс.</li>
                            <li>Мощность (кВА): 6-22</li>
                            <li>Рабочий диапазон (вольт): 105-272</li>
                            <li>Диапазон стабилизации (вольт): 134-256</li>
                            <li>Выходное напряжение (вольт): 220 ± 4%</li>
                            <li>Количество ступеней: 12</li>
                            <li>Габаритные размеры (мм): 245x468x176</li>
                            <li>Страна-производитель: Украина</li>
                            <li>Срок гарантии, месяцев: 120</li>
                        </ul>
                        <p>
                            Медный трансформатор, надежные силовые ключи, мгновенная стабилизация напряжения, защита
                            электроприборов от аварийных ситуаций в сети. Современная модель стабилизатора готова
                            выполнить высокие требования по обеспечению качественного электроснабжения объектов бытового
                            и особого промышленного назначения.
                        </p>
                    </div>
                    <div id="listItem4" role="tabpanel" class="tab-pane">
                        <h5 class="mb-3">Альянс Prime</h5>
                        <h6 class="text-green mb-3">Гарантия 10 лет</h6>
                        <p>Стабилизатор Alliance PRIME ES - это современное решение любых проблем с питающим
                            напряжением. Аппараты являются самыми добротными в области стабилизации напряжения.
                            Стабилизатор рассчитан для людей, имеющих высокие требования к качеству и функциональности.
                            В серию заложены комплектующие самых именитых производителей: Semikron, IXYS, Германия;
                            Epcos, Philips, GE, Pokoj и др. Индикация параметров сообщает пользователю о всех параметрах
                            сети и процессе стабилизации, фиксирует максимальные, минимальные и средние их значения за
                            период времени. Решение с данной моделью подойдет для квартир, медицинских учреждений,
                            лабораторий, частных домов, а также объектов, имеющих в составе потребителей кондиционеры,
                            торговое холодильное оборудование, прочее.
                        </p>
                        <p>
                            Данный модельный ряд имеет стандартный диапазон стабилизации 133-258 вольт. Точность
                            стабилизации составляет 220 В ± 3%. Минимальное (не более 20 мс) время реакции на изменение
                            сетевого напряжения в совокупности с малым шагом стабилизации позволяет с уверенностью
                            обеспечить питание электроприборов стабилизированным напряжением 220 В, даже несмотря на
                            значительные колебания уровня напряжения питающей сети.
                        </p>
                        <p>
                            Alliance PRIME ES - это безупречное качество, большой запас по мощности, длительный срок
                            службы, множество защит подключенной нагрузки, уникальный функционал, лучшее решение для
                            электропитания особняков, больших квартир, бизнеса, производства и торговли.
                        </p>
                        <ul>
                            <li>Мощность (кВА): 6-22</li>
                            <li>Рабочий диапазон (вольт): 100-275</li>
                            <li>Диапазон стабилизации (вольт): 133-2258</li>
                            <li>Выходное напряжение (вольт): 220 ± 3%</li>
                            <li>Количество ступеней: 16</li>
                            <li>Габаритные размеры (мм): 300x535x195</li>
                            <li>Страна-производитель: Украина</li>
                            <li>Срок гарантии, месяцев: 120</li>
                        </ul>
                        <p>
                            Стабилизатор уровня премиум, позволяющий предъявлять к изделию самые высокие стандарты
                            качества, надежности, добротности, функциональности и универсальности. Это апофеоз
                            инженерной мысли - вопрос качества стабилизации напряжения даже не поднимается.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>