{% load static %}

<section id="ktp">
    <div class="container py-lg-5">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="magictime slideUpReturn">
                    <div class="digit text-blue-deep">01</div>
                    <div class="h2 mb-3 mb-lg-5">
                        "ОСФ Сервис" - производим распределительные шкафы управления для промышленных солнечных
                        электростанций
                    </div>
                    <p class="text-justify">
                        Ми маємо досвід роботи зі Світовим банком. Приймали участь в розробці проектно-технічної
                        документації, постачання обладнання та проведення будівельно-монтажних робіт для очисних
                        споруд (Вінниця, Калуш) і сміттєпереробних підприємств (Дергачі харківської обл.) які
                        фінансуються Банком.</p>
                    <p class="text-justify">
                        Крім усього перерахованого, ми постійно беремо участь в електронних торгах проведених
                        системою ПРОЗОРРО, здобули десятки перемог в тендерах. Всі зобов'язання за укладеними в
                        результаті торгів договорами виконані в повному обсязі і в строк.
                        Вся продукція нашого підприємства випускається згідно затверджених ТУ, має сертификат
                        відповідності УкрСЕПРО та міжнародного стандарту ISO. Якість матеріалів і комплектуючих
                        також підтверджується сертификатами.</p>
                    <p class="text-justify">
                        Власне виробництво, сучасне обладнання, кваліфікований персонал, наявність всіх
                        необхідних дозвільних’ документів дає можливість знаходити індивідуальний підхід до
                        кожного Замовника, виконувати роботи «під ключ», з використанням сучасних технічних
                        рішень.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="flex-column magictime slideUpReturn delay-1s">
                    <div class="card shadow">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="h3 text-beige list-group-item">2019</li>
                                <li class="list-group-item">Введенно в эксплуатацию 2690 шкафов управления</li>
                                <li class="list-group-item">Выпущенно 14 КТП до 10КВ</li>
                                <li class="list-group-item">Построенно 4 крышные электростанции на 30кВт</li>
                                <li class="h3 text-beige list-group-item">2018</li>
                                <li class="list-group-item">Введено в эксплуатацию 1870 шкафов управления</li>
                                <li class="list-group-item">Выпущенно 18 КТП до 10КВ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
