<section id="sectionFirst" class="py-lg-5">
    <div class="container py-3 py-lg-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="">
                    <div class="digit text-white">01</div>
                    <div class="h3 text-white">
                        "ОСФ Сервис" - производим распределительные шкафы управления: для промышленных солнечных
                        электростанций, КТП, котельного и насосного оборудования, КиПА
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
