<section id="sectionSolar">
    <div class="container py-3">
        <div class="row">
            <div class="col-12 col-lg-4 py-lg-5">
                <div class="digit text-blue-deep">02</div>
            </div>
            <div class="col-12 col-lg-8 py-lg-5">
                <div class="h2 blockquote-title">
                    Солнечная энергетика уже реальность, а не фантастика. Инвестиции в солнечную энергетику в 3.6
                    раза выгоднее чем в недвижимость.
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div>
                    <h5 class="card-title">Инвестиции в солнечную энергетику</h5>
                    Оценки перспектив инвестиций в солнечную энергетику: просчет оптимального размера
                    вложений и их рентабельность;
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div>
                    <h5 class="card-title">Проектирование</h5>
                    Проектирование и инжиниринг на основе доступной материально-финансовой базы с учетом задач и
                    ожиданий клиентов;
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div>
                    <h5 class="card-title">Строительные работы</h5>
                    Строительные работы — наш департамент по строительству готов воплотить в жизнь любой
                    инженерный проект солнечной электростанции;
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg"></div>
</section>