{% load static %}

<section id="sectionSecond">
    <div class="container py-3 py-lg-5">
        <div class="row">
            <div class="col-12"><p class="text-gray-light">О компании</p></div>
            <div class="col-12 col-lg-6 py-3 py-lg-5">
                <p class="text-justify">
                    Вся продукция нашего предприятия выпускается согласно ТУ, имеет сертификат соответствия
                    УкрСЕПРО и междунородный стандарт ISO. Качество материалов и комплектующих так же подтверждено
                    сертификатоми.</p>
            </div>
            <div class="col-12 col-lg-6 py-3 py-lg-5">
                <p class="text-justify">
                    Ми маємо досвід роботи зі Світовим банком. Приймали участь в розробці проектно-технічної
                    документації, постачання обладнання та проведення будівельно-монтажних робіт для очисних
                    споруд (Вінниця, Калуш) і сміттєпереробних підприємств (Дергачі харківської обл.) які
                    фінансуються Банком.</p>
            </div>
            <div class="col-12 col-lg-6 py-3 py-lg-5">
                <p class="text-justify">
                    Мы постоянно берем участия в электронных торгах ПРОЗОРО, получили десятки побед в тендерах.
                    Все обязательства выполнены в полном объеме и в срок.
                </p>
            </div>
            <div class="col-12 col-lg-6 py-3 py-lg-5">
                <p class="text-justify">
                    Власне виробництво, сучасне обладнання, кваліфікований персонал, наявність всіх
                    необхідних дозвільних документів дає можливість знаходити індивідуальний підхід до
                    кожного Замовника, виконувати роботи «під ключ», з використанням сучасних технічних
                    рішень.
                </p>
            </div>
            <div class="col-12"><p class="text-gray-light">2018 ... 2020</p></div>
            <div class="col-12 col-lg-6 py-3 py-lg-5">
                <div class="flex-column">
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="h3 text-beige list-group-item">2019</li>
                                <li class="list-group-item">Введенно в эксплуатацию 2690 шкафов управления</li>
                                <li class="list-group-item">Выпущенно 14 КТП до 10КВ</li>
                                <li class="list-group-item">Построенно 4 крышные электростанции на 30кВт</li>
                                <li class="h3 text-beige list-group-item">2018</li>
                                <li class="list-group-item">Введено в эксплуатацию 1870 шкафов управления</li>
                                <li class="list-group-item">Выпущенно 18 КТП до 10КВ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 p-3 p-lg-5">
                <img class="w-100" src="{% static 'images/home/ktp.png' %}">
            </div>
        </div>
    </div>
</section>
