{% load static %}
<div class="container py-3 py-lg-5">
    <div class="row">
        <div class="col-12"><p class="text-gray-light">Основные направления</p></div>
    </div>
</div>
<section id="sectionWhatWeDo" class="py-lg-5">
    <div class="container py-3 py-lg-5">
        <div class="row">
            <div class="col-12 col-lg-4 d-flex">
                <div class="d-flex h5 mb-3 rounded bg-white-dark transparent-9 p-3 w-100">
                    <span>01.</span> <span>Шкафы управления (IP21, IP54, IP63)</span>
                </div>
            </div>
            <div class="col-12 col-lg-4 d-flex">
                <div class="d-flex h5 mb-3 rounded bg-white-dark transparent-9 p-3 w-100">
                    <span>02.</span> <span>Солнечные электростанции от 10кВт (оформление зеленого тарифа под ключ)</span>
                </div>
            </div>
            <div class="col-12 col-lg-4 d-flex">
                <div class="d-flex h5 mb-3 rounded bg-white-dark transparent-9 p-3 w-100">
                    <span>03.</span> <span>Проектная документация любой сложности</span>
                </div>
            </div>
            <div class="col-12 col-lg-4 d-flex">
                <div class="d-flex h5 mb-3 rounded bg-white-dark transparent-9 p-3 w-100">
                    <span>04.</span> <span>Стабилизация напряжения, бесперебойное питание</span>
                </div>
            </div>
            <div class="col-12 col-lg-4 d-flex">
                <div class="d-flex h5 mb-3 rounded bg-white-dark transparent-9 p-3 w-100">
                    <span>05.</span> <span>Автоматы, пускатели, контакторы, преобразователи частоты, кабель-провод</span>
                </div>
            </div>
            <div class="col-12 col-lg-4 d-flex">
                <div class="d-flex h5 mb-3 rounded bg-white-dark transparent-9 p-3 w-100">
                    <span>06.</span> <span>КТП до 10кВА</span>
                </div>
            </div>
        </div>
    </div>
</section>