<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Smart, Smart W
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Название</th>
                        <th>Мощность</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">SMART ALS-6</td>
                        <td>Мощность 6 кВА<br>Диапазон 145-265 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            8 020 грн
                            <meta itemprop="price" content="8020">
                            <meta itemprop="priceCurrency" content="UAH">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">SMART ALS-8</td>
                        <td>Мощность 8 кВА<br>Диапазон 145-265 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            8 600 грн
                            <meta itemprop="price" content="8600">
                            <meta itemprop="priceCurrency" content="UAH">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">SMART ALS-10</td>
                        <td>Мощность 10 кВА<br>Диапазон 145-265 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            9 630 грн
                            <meta itemprop="price" content="9630">
                            <meta itemprop="priceCurrency" content="UAH">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">SMART ALS-14</td>
                        <td>Мощность 14 кВА<br>Диапазон 145-265 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            12 620 грн
                            <meta itemprop="price" content="12620">
                            <meta itemprop="priceCurrency" content="UAH">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">SMART ALS-18</td>
                        <td>Мощность 18 кВА<br>Диапазон 145-265 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            14 960 грн
                            <meta itemprop="price" content="14960">
                            <meta itemprop="priceCurrency" content="UAH">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">SMART ALS-22</td>
                        <td>Мощность 22 кВА<br>Диапазон 145-265 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            17 480 грн
                            <meta itemprop="price" content="17480">
                            <meta itemprop="priceCurrency" content="UAH">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Название&nbsp;</th>
                        <th>Дополнительно</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">SMART W ALSW-6</td>
                        <td>Мощность 6 кВА<br>Диапазон 122-280 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            8 260 грн
                            <meta itemprop="price" content="8260">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">SMART W ALSW-8</td>
                        <td>Мощность 8&nbsp;кВА<br>Диапазон 122-280 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            8 830 грн
                            <meta itemprop="price" content="8830">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">SMART W ALSW-10</td>
                        <td>Мощность 10 кВА<br>Диапазон 122-280 В<br></td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            9 970 грн
                            <meta itemprop="price" content="9970">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">SMART W ALSW-14</td>
                        <td>Мощность 14 кВА<br>Диапазон 122-280 В<br></td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            12 980 грн
                            <meta itemprop="price" content="12980">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">SMART W ALSW-18</td>
                        <td>Мощность 18 кВА<br>Диапазон 122-280 В<br></td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            15 470 грн
                            <meta itemprop="price" content="15470">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">SMART W ALSW-22</td>
                        <td>Мощность 22 кВА<br>Диапазон 122-280 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            18 450 грн
                            <meta itemprop="price" content="18450">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Tesla, Tesla W
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Название&nbsp;</th>
                        <th>Дополнительно</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA ALT-6</td>
                        <td>Мощность 6 кВА<br>Диапазон 134-256 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            9 440 грн
                            <meta itemprop="price" content="9440">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA ALT-8</td>
                        <td>Мощность 8&nbsp;кВА<br>Диапазон 134-256 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            10 630 грн
                            <meta itemprop="price" content="10630">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA ALT-10</td>
                        <td>Мощность 10 кВА<br>Диапазон 134-256 В<br></td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            12 210 грн
                            <meta itemprop="price" content="12210">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA ALT-14</td>
                        <td>Мощность 14 кВА<br>Диапазон 134-256 В<br></td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            14 030 грн
                            <meta itemprop="price" content="14030">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA ALT-18</td>
                        <td>Мощность 18 кВА<br>Диапазон 134-256 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            18 240 грн
                            <meta itemprop="price" content="18240">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA ALT-22</td>
                        <td>Мощность 22 кВА<br>Диапазон 134-256 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            21 120 грн
                            <meta itemprop="price" content="21120">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Название&nbsp;</th>
                        <th>Дополнительно</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA W ALTW-6</td>
                        <td>Мощность 6 кВА<br>Диапазон 127-278 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            9 680 грн
                            <meta itemprop="price" content="9680">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA W ALTW-8</td>
                        <td>Мощность 8&nbsp;кВА<br>Диапазон 127-278 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            10 950 грн
                            <meta itemprop="price" content="10950">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA W ALTW-10</td>
                        <td>Мощность 10 кВА<br>Диапазон 127-278 В<br></td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            12 630 грн
                            <meta itemprop="price" content="12630">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA W ALTW-14</td>
                        <td>Мощность 14 кВА<br>Диапазон 127-278 В<br></td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            14 810 грн
                            <meta itemprop="price" content="14810">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA W ALTW-18</td>
                        <td>Мощность 18 кВА<br>Диапазон 127-278 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            19 220 грн
                            <meta itemprop="price" content="19220">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA W ALTW-22</td>
                        <td>Мощность 22 кВА<br>Диапазон 127-278 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            22 510 грн
                            <meta itemprop="price" content="22510">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Tesla GT
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Название&nbsp;</th>
                        <th>Дополнительно</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA GT ALTG-6</td>
                        <td>Мощность 6 кВА<br>Диапазон 154-257 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            10 800 грн
                            <meta itemprop="price" content="10800">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA GT ALTG-8</td>
                        <td>Мощность 8&nbsp;кВА<br>Диапазон 154-257 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            13 000 грн
                            <meta itemprop="price" content="13000">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA GT ALTG-10</td>
                        <td>Мощность 10 кВА<br>Диапазон 154-257 В<br></td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            14 140 грн
                            <meta itemprop="price" content="14140">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA GT ALTG-14</td>
                        <td>Мощность 14 кВА<br>Диапазон 154-257 В<br></td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            16 390 грн
                            <meta itemprop="price" content="16390">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA GT ALTG-18</td>
                        <td>Мощность 18 кВА<br>Диапазон 154-257 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            21 570 грн
                            <meta itemprop="price" content="21570">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA GT ALTG-22</td>
                        <td>Мощность 22 кВА<br>Диапазон 154-257 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            31 920 грн
                            <meta itemprop="price" content="31920">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Название&nbsp;</th>
                        <th>Дополнительно</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA GL ALTL-6</td>
                        <td>Мощность 6 кВА<br>Диапазон 114-277 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            11 430 грн
                            <meta itemprop="price" content="11430">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA GL ALTL-8</td>
                        <td>Мощность 8&nbsp;кВА<br>Диапазон 114-277 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            13 360 грн
                            <meta itemprop="price" content="13360">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA GL ALTL-10</td>
                        <td>Мощность 10 кВА<br>Диапазон 114-277 В<br></td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            14 600 грн
                            <meta itemprop="price" content="14600">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA GL ALTL-14</td>
                        <td>Мощность 14 кВА<br>Диапазон 114-277 В<br></td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            17 370 грн
                            <meta itemprop="price" content="17370">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA GL ALTL-18</td>
                        <td>Мощность 18 кВА<br>Диапазон 114-277 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            22 910 грн
                            <meta itemprop="price" content="22910">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/Product">
                        <td itemprop="name">TESLA GL ALTL-22</td>
                        <td>Мощность 22 кВА<br>Диапазон 114-277 В</td>
                        <td itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
                            33 790 грн
                            <meta itemprop="price" content="33790">
                            <meta itemprop="priceCurrency" content="RUB">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>