{% extends 'admin/base.html' %}
{% load i18n static jet_tags %}

{% block blockbots %}
    {{ block.super }}
    <!-- FIXING SELECT 2 JQUERY ISSUE-->
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' as url %}{{ url|jet_append_version }}"
            type="text/javascript"></script>
    <script src="{% static 'admin/js/jquery.init.js' as url %}{{ url|jet_append_version }}"></script>
    <script src="{% static 'admin/js/custom.js' as url %}{{ url|jet_append_version }}"></script>
{% endblock %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom.css' as url %}{{ url|jet_append_version }}"/>
{% endblock %}