{% extends 'base.html' %}
{% load static %}

{% block body_class %}articles{% endblock %}
{% block content %}
    {{ block.super }}
    <section>
        <div class="container my-3 my-lg-5">
            <div class="row">
                <div class="col-12 pb-3 pb-lg-5"><p class="text-gray-light">Публикации, статьи, материалы</p></div>
                <div class="col-12 col-lg-6">
                    {% with i=":"|add:half_page %}
                        {% for article in object_list|slice:i %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <a href="{% url 'article' article.pk %}" class="card-link mb-3 d-inline-block" data-toggle="tooltip" data-placement="top" title="Читать все...">
                                        <span class="text-gray-light">{{ article.title }}</span> <img src="{% static 'open-iconic/svg/fullscreen-enter.svg' %}">
                                    </a>
                                    <p class="card-text">{{ article.description|safe|truncatewords_html:'20' }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endwith %}
                </div>
                <div class="col-12 col-lg-6">
                    {% with i=half_page|add:":" %}
                        {% for article in object_list|slice:i %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <a href="{% url 'article' article.pk %}" class="card-link mb-3 d-inline-block" data-toggle="tooltip" data-placement="top" title="Читать все...">
                                        <span class="text-gray-light">{{ article.title }}</span> <img src="{% static 'open-iconic/svg/fullscreen-enter.svg' %}">
                                    </a>
                                    <p class="card-text">{{ article.description|safe|truncatewords_html:'20' }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endwith %}
                </div>
                {% if is_paginated %}
                    <div class="col-12">
                        <ul class="pagination">
                            {% for page in page_obj %}
                                <li class="page-item {% if page_obj.number == forloop.counter %}active{% endif %}">
                                    {% if page_obj.number == forloop.counter %}
                                        <span class="page-link">
                                        {{ forloop.counter }}
                                        <span class="sr-only">(current)</span>
                                    </span>
                                    {% else %}
                                        <a class="page-link"
                                           href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}



