{% extends 'base.html' %}
{% load static %}

{% block body_class %}articles{% endblock %}
{% block content %}
    {{ block.super }}
    <div class="bg-blue-gradient"></div>
    <section>
        <div class="container">
            <div class="row">
                {% for article in object_list %}
                    <div class="col-12 col-lg-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <p class="text-gray-light">{{ article.title }}</p>
                                <p class="card-text">{{ article.description|truncatewords_html:'20' }}</p>
                                <a href="{% url 'article' article.pk %}" class="card-link">>>></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% if is_paginated %}
                <div class="col-12">
                    <ul class="pagination">
                        {% for page in page_obj %}
                            <li class="page-item {% if page_obj.number == forloop.counter %}active{% endif %}">
                                {% if page_obj.number == forloop.counter %}
                                    <span class="page-link">
                                        {{ forloop.counter }}
                                        <span class="sr-only">(current)</span>
                                    </span>
                                {% else %}
                                    <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}



