@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700&display=swap&subset=cyrillic');

$gray: #9397a5;
$gray-light: #abab9f;
$beige: rgba(223, 220, 218);
$blue-deep: #006cfc;
$blue-light: rgb(169, 187, 201);
$blue-extra-light: #f6faff;
$black: #171717;
$black-light: #505050;
$white-dark: rgb(250, 250, 250);
$light: 300;
$normal: 400;
$bold: 700;
$digit: (
        1:.1,
        2:.2,
        3:.3,
        4:.4,
        5:.5,
        6:.6,
        7:.7,
        8:.8,
        9:.9
);
$colors: (
        white: white,
        white-dark: $white-dark,
        gray: $gray,
        gray-light: $gray-light,
        blue-deep: $blue-deep,
        blue-light: $blue-light,
        blue-extra-light: $blue-extra-light,
        black: $black,
        black-light: $black-light,
        beige: $beige,
);
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name}{
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@mixin bg-transparent($color, $value) {
    background-color: rgba($color, $value);
}

html {
    scroll-behavior: smooth;
    transition: all .3s ease-in;
}

body {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-weight: $light;
    color: $black-light;
}

h1, h2, h3, .h1, .h2, .h3 {
    color: $black-light;
    font-weight: $light;
    margin-bottom: 0;
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: $blue-deep;
    display: table;
}

section {
    border-radius: 1rem;
    position: relative;
    min-height: calc(100vh - 2rem);
}

div {
    display: flex;
}

.btn {
    border-radius: 1.25rem;
    font-weight: $light;
    transition: all .2s ease-in-out;

    &:hover {
        border-radius: 1.25rem .25rem .25rem 1.25rem;
    }
}

.bg {
    @each $name, $color in $colors {
        &-#{$name} {
            background-color: $color;

            &.transparent {
                @each $index, $value in $digit {
                    &-#{$index} {
                        background-color: rgba($color, $value) !important;
                    }
                }
            }
        }
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        @include bg-transparent($blue-light, .6);
    }
}

.text {
    @each $name, $color in $colors {
        &-#{$name} {
            color: $color;
        }
    }
}

.digit {
    font-size: 8rem;
}

.link {
    position: relative;

    &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &:before {
        width: 0;
        height: 3px;
        @include bg-transparent($blue-deep, .3);
        transform-origin: bottom left;
        bottom: 4px;
    }

    &:after {
        bottom: -4px;
        width: 90%;
        height: 2px;
        background-color: $blue-deep;
    }

    &:hover {
        color: black;
        text-decoration: none;

        &:before {
            width: 105%;
            transition: width .5s cubic-bezier(0.19, 1, 0.22, 1);
        }

        &:after {
            width: 0;
            transition: width .5s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
}

.light {
    left: 50px;
    bottom: 50px;
    z-index: 9;
    width: 28px;
    img{
        background-color: $white-dark;
        border-radius: 50%;
        padding: 10px;
    }
}

.rounded{
    border-radius: 1rem !important;
}

footer {
    background: linear-gradient(#f3f3f3 10%, #f1f1f1);
}

@each $index, $value in $digit {
    @include keyframes("pulse-down-"+#{$index}) {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale($value);
        }
        100% {
            transform: scale(1);
        }
    }
    @include keyframes("pulse-up-"+#{$index}) {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale($value+1);
        }
        100% {
            transform: scale(1);
        }
    }
    .pulse-up-#{$index} {
        @include animation('pulse-up-#{$index} 3s infinite');
    }
    .pulse-down-#{$index} {
        @include animation('pulse-down-#{$index} 4s infinite');
    }
    .delay-#{$index}s {
        animation-delay: #{$index}s;
    }
    .z-index-#{$index} {
        z-index: $index;
    }
}

.cycles {
    top: -200px;
    left: -100px;

    span {
        border-radius: 50%;
        background-color: $blue-deep;
        display: block;
    }

    .big {
        width: 300px;
        height: 300px;
    }

    .small {
        width: 200px;
        height: 200px;
        top: 150px;
        right: -100px;
        opacity: .7;
    }
}

.cycle {
    border-radius: 50%;
    background-color: $blue-deep;

    &-small {
        width: 50px;
        height: 50px;
        top: -25px;
        right: 5%;
    }

    &-smaller {
        width: 20px;
        height: 20px;
        top: 2%;
        right: 2%;
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}

.icon-scroll {
    width: 40px;
    height: 70px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
    position: absolute;
    bottom: 1rem;
    left: calc(50% - 20px);
    &:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #fff;
        margin-left: -4px;
        border-radius: 4px;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: scroll;
        animation-name: scroll;
        position: absolute;
        top: 15%;
        left: 50%;
    }
}

.home{
    #docs{
        .lamps{
            img{
               max-height: 250px;
            }
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .home {
        .fill-path-right {
            right: -1rem;
            top: 400px;
            z-index: 9;
            .description {
                top: 120px;
                right: 0;
            }

            img {
                width: 300px;
            }
        }

        .bg {
            &-section {
                &-first {
                    background: url("/static/images/home/home-header-image.jpg") no-repeat top center;
                    background-size: 130%;

                    .ktp {
                        width: 30vw;
                        top: 10%;
                        right: 10%;

                        img {
                            width: inherit;
                        }
                    }
                }

                &-solar {
                    background: url("/static/images/home/solar-bg.jpg") no-repeat bottom center;
                    background-size: cover;
                    background-position-y: 400px;
                }

                &-stab {
                    background: url("/static/images/home/stab-bg.jpg") no-repeat top center;
                    height: 300px;
                    background-size: cover;
                    border-radius: 0 0 1rem 1rem;
                }

                &-docs {
                    background: url("/static/images/home/docs.jpg") no-repeat top center;
                    height: 500px;
                    width: 100%;
                    background-size: cover;
                    top: 0;
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}