@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700&display=swap&subset=cyrillic');

$gray: #9397a5;
$gray-light: #abab9f;
$beige: rgba(223, 220, 218);
$blue-deep: rgb(40, 35, 74);
$blue-light: #edf5f8;
$blue: rgb(87, 212, 230);
$black: rgb(42, 42, 48);
$black-light: #393939;
$white-dark: rgb(250, 250, 250);
$green: rgb(96, 216, 143);
$yellow: rgb(255, 216, 102);
$light: 300;
$normal: 400;
$bold: 700;
$digit: (
        1:.1,
        2:.2,
        3:.3,
        4:.4,
        5:.5,
        6:.6,
        7:.7,
        8:.8,
        9:.9,
        10:10
);
$colors: (
        white: white,
        white-dark: $white-dark,
        gray: $gray,
        gray-light: $gray-light,
        blue-deep: $blue-deep,
        blue-light: $blue-light,
        blue: $blue,
        black: $black,
        black-light: $black-light,
        beige: $beige,
        green: $green,
        yellow: $yellow
);
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name}{
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@mixin bg-transparent($color, $value) {
    background-color: rgba($color, $value);
}

html {
    scroll-behavior: smooth;
    transition: all .3s ease-in;
}

body {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-weight: $light;
    color: $black-light;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: $light;
    color: $blue-deep;
    margin: 0;
}

h1, h2, .h1, .h2 {
    font-weight: $bold;
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: $blue-deep;
}

#nav {
    &Header {
        position: fixed;
        top: 2rem;
        right: 3rem;
        z-index: 9;

        .hamburger {
            width: 35px;
            height: 30px;
            position: absolute;
            top: 0;
            right: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                height: 5px;
                width: 100%;
                background: white;
                border-radius: 4px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
                border: 1px solid rgba(0, 0, 0, .125);

                &:nth-child(1) {
                    top: 0;
                    -webkit-transform-origin: left center;
                    -moz-transform-origin: left center;
                    -o-transform-origin: left center;
                    transform-origin: left center;
                }

                &:nth-child(2) {
                    top: 12px;
                    -webkit-transform-origin: left center;
                    -moz-transform-origin: left center;
                    -o-transform-origin: left center;
                    transform-origin: left center;
                }

                &:nth-child(3) {
                    top: 24px;
                    -webkit-transform-origin: left center;
                    -moz-transform-origin: left center;
                    -o-transform-origin: left center;
                    transform-origin: left center;
                }
            }

            &.open {
                span {
                    &:nth-child(1) {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                        top: 0;
                        left: 8px;
                    }

                    &:nth-child(2) {
                        width: 0;
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        top: 26px;
                        left: 8px;
                    }
                }
            }
        }

        ul {
            li {
                margin-bottom: 1rem;

                a {
                    img {
                        width: 16px;
                    }
                }
            }
        }
    }
}

.blockquote {
    &-title {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            background: url("/static/open-iconic/svg/double-quote-sans-left.svg") no-repeat center;
            background-size: contain;
            width: 3rem;
            height: 3rem;
            opacity: .5;
            top: -2rem;
            left: -2rem;
        }
    }
}

.btn {
    border-radius: 1.25rem;
    font-weight: $light;
    transition: all .2s ease-in-out;

    &:hover {
        border-radius: 1.25rem .25rem .25rem 1.25rem;
    }

    &-yellow {
        color: $black;
        background-color: $yellow;
        border-color: $yellow;
    }

    &-green {
        color: $black;
        background-color: $green;
        border-color: $green;
    }
}

.bg {
    @each $name, $color in $colors {
        &-#{$name} {
            background-color: $color;

            &.transparent {
                @each $index, $value in $digit {
                    &-#{$index} {
                        background-color: rgba($color, $value) !important;
                    }
                }
            }
        }
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        @include bg-transparent($blue-light, .6);
    }

    &-docs {
        background: url("/static/images/home/opensource.svg");
    }

    &-solar {
        background: url("/static/images/home/solar-bg.jpg") no-repeat bottom;
        background-size: contain;
    }
}

.text {
    @each $name, $color in $colors {
        &-#{$name} {
            color: $color;
        }
    }
}

.w {
    @each $index, $value in $digit {
        &-#{$index}0 {
            width: $index*10%;
        }
    }
}

.digit {
    font-size: 8rem;
    line-height: 1;
}

.link {
    position: relative;

    &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &:before {
        width: 0;
        height: 3px;
        @include bg-transparent($blue-deep, .3);
        transform-origin: bottom left;
        bottom: 4px;
    }

    &:after {
        bottom: -4px;
        width: 90%;
        height: 2px;
        background-color: $blue-deep;
    }

    &:hover {
        color: black;
        text-decoration: none;

        &:before {
            width: 105%;
            transition: width .5s cubic-bezier(0.19, 1, 0.22, 1);
        }

        &:after {
            width: 0;
            transition: width .5s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
}

.light {
    left: 3.25rem;
    bottom: 3rem;
    z-index: 9;
    width: 28px;

    img {
        background-color: $beige;
        border-radius: 50%;
        padding: 10px;
    }
}

.rounded {
    border-radius: 1rem !important;
}

@each $index, $value in $digit {
    @include keyframes("pulse-down-"+#{$index}) {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale($value);
        }
        100% {
            transform: scale(1);
        }
    }
    @include keyframes("pulse-up-"+#{$index}) {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale($value+1);
        }
        100% {
            transform: scale(1);
        }
    }
    .pulse-up-#{$index} {
        @include animation('pulse-up-#{$index} 3s infinite');
    }
    .pulse-down-#{$index} {
        @include animation('pulse-down-#{$index} 4s infinite');
    }
    .delay-#{$index}s {
        animation-delay: #{$index}s;
    }
    .z-index-#{$index} {
        z-index: $index;
    }
}

.cycles {
    top: -200px;
    left: -100px;

    span {
        border-radius: 50%;
        background-color: $blue-deep;
        display: block;
    }

    .big {
        width: 300px;
        height: 300px;
    }

    .small {
        width: 200px;
        height: 200px;
        top: 150px;
        right: -100px;
        opacity: .7;
    }
}

.cycle {
    border-radius: 50%;
    background-color: $blue-deep;

    &-small {
        width: 50px;
        height: 50px;
        top: -25px;
        right: 5%;
    }

    &-smaller {
        width: 20px;
        height: 20px;
        top: 2%;
        right: 2%;
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}

.icon-scroll {
    width: 40px;
    height: 70px;
    box-shadow: inset 0 0 0 1px $beige;
    border-radius: 25px;
    position: fixed;
    top: 6rem;
    left: 3rem;

    &:before {
        content: '';
        width: 8px;
        height: 8px;
        background: $beige;
        margin-left: -4px;
        border-radius: 4px;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: scroll;
        animation-name: scroll;
        position: absolute;
        top: 15%;
        left: 50%;
    }
}

.scroll-y {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: $beige;
    }

    &::-webkit-scrollbar {
        width: 4px;
        background-color: $beige;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $blue-deep;
    }
}

#slider, .slick {
    position: relative;

    &-item {
        margin: 5px;
        background-size: cover !important;
        height: 300px;
        width: 200px;
        display: inline-block;
        border-radius: 10px;
    }

    &-prev, &-next {
        position: absolute;
        background: $beige;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        top: 42%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    &-prev {
        left: -1rem;
    }

    &-next {
        right: -1rem;
    }
}

#gallery, .gallery {
    height: 340px;
    overflow-y: scroll;
    text-align: center;

    &-item {
        border-radius: 10px;
        width: 100px;
        height: 100px;
        margin: 5px;
        background-size: cover !important;
        display: inline-block;
    }
}

.blueimp-gallery {
    .prev, .next {
        display: inline-block;
    }
}

#section {
    &First {
        background: url("/static/images/home/section-first/section-first-bg.jpg") no-repeat top center;
        background-size: cover;
    }

    &Solar {
        .bg {
            background: url("/static/images/home/solar-bg.jpg") no-repeat top center;
            background-size: cover;
            min-height: 400px;
        }
    }

    &Projects {
        .bg {
            background: url("/static/images/home/section-projects/section-projects-bg.jpg") no-repeat center;
            background-size: cover;
            min-height: 600px;
        }
    }

    &Partners {
        img {
            width: 100px;
        }
    }

    &Stab {
        ul.color-list {
            li {
                padding: .5rem 0;
            }
        }

        .lamps {
            img {
                height: 170px;
            }
        }

        .tab-content {
            height: 500px;
            overflow-y: scroll;
        }

        .bg {
            background: url("/static/images/home/section-first/section-first-bg.jpg") no-repeat top center;
            background-size: cover;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .w {
        @each $index, $value in $digit {
            &-lg-#{$index}0 {
                width: $index*10% !important;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}