<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load pipeline %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'ru' }}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}ОСФ Сервис{% endblock title %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
{#    <link rel="stylesheet" href="{% static 'styles.css' %}">#}
    <link rel="stylesheet" href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'magic/magic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fileupload/blueimp-gallery.min.css' %}"/>
    {% stylesheet 'styles' %}
    {% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock body_class %}">
{% include '_messages.html' %}
{% block header %}
    {% include 'header.html' %}
{% endblock header %}

{% block content %}
    <div class="position-fixed light" title="ОСФ СЕРВИС" data-toggle="popover"
         data-content="(067)563 44 95 | (095)291 92 13 г.Днепр, Воздухофлотская, 2а/43">
        <img src="{% static 'open-iconic/svg/lightbulb.svg' %}">
    </div>
    <div class="icon-scroll"></div>
    <div class="right-block">
        067 563 44 95
    </div>
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
{% endblock content %}



{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/fileupload/jquery.blueimp-gallery.min.js' %}"></script>
{#<script src="{% static 'script.js' %}"></script>#}
{% javascript 'js' %}
<script>
    $(function () {
        activatePopover('.light', 'right');
        animateBlocks();
    })
</script>
{% block extra_script %}{% endblock extra_script %}
</body>

</html>
