{% load bootstrap4 %}
{% load i18n %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="logo text-center">
                <img src="{{ SITE_LOGO_SECOND }}">
            </div>
            <div class="contants text-center">
                <p class="tel m-0">+380 95 2919213</p>
                <p class="tel m-0">+380 98 2814589</p>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>