{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-4 bg-beige p-5">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="font-weight-bold">
                            ОСФ Сервис - производство, продажа, сервис
                        </div>
                        <div class="small">
                            © 2018-2020 OSF Service
                        </div>
                    </div>
                    <div>
                        <div class="small">
                            <a href="https://www.facebook.com/stabilizators.net/">facebook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>