{% load static %}
<header>
    <div style="padding: .5rem; background: red; text-align: center;">
		<a href="https://savelife.in.ua/donate/" style="color: white;">Русский военный корабль, иди нахуй</a>
	</div>
    <div class="bg-blue-gradient"></div>
    <section id="sectionHeader">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-inline-flex align-items-center py-3">
                        <img class="logo rounded p-1 mr-3 bg-blue-deep" src="{% static 'images/logo-white.png' %}">
                        <h3>ОСФ Сервис</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
